<h1>Editing Persona</h1>

<%= render 'form', persona: @persona %>


<%= link_to 'Volver', personas_path, class:"btn btn-info btn-sm rounded-pill mt-3" %> |
<%= link_to 'Ver', @persona , class:"btn btn-dark btn-sm rounded-pill mt-3"%> 

